<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Bus Management System NRIFT</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/home_style.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <!-- from other file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

<script>
    $(document).ready(() => {
        var drivers;
        $.ajax({
            type: "GET",
            url: "/admin/get-available-drivers",
            data: null,
            async: false,
            success: function (response) {
                drivers = response;
                console.log(response);
                var driverList = document.getElementById('select-driver-list');
                driverList.innerHTML = `<option value="" disabled="" selected="">Select driver</option>`;
                drivers?.forEach((driver) => {
                    driverList.innerHTML += `<option did=${driver.did} >
                                                    <p>${driver.driverName}</p>
                                                </option>`;
                });
            },
            error: function () {
                alert('Error occured in fetching drivers');
            }
        });
        // console.log("drivers fetched = ", drivers);


        var routesMap;
        $.ajax({
            type: "GET",
            url: "/admin/getallroutesasstopslist",
            data: null,
            async: false,
            success: function (response) {
                routesMap = response;
            },
            error: function () {
                alert('Error occured in fetching routes');
            }
        });
        // console.log("routes fetched = ", routesMap);
        var routesList = document.getElementById('select-route-list');
        routesList.innerHTML = `<option value="" disabled="" selected="">Select route</option>`;
        Object.keys(routesMap).forEach((routeId) => {
            let stops = routesMap[routeId];
            // console.log(routeId, routeObj, stops );
            routesList.innerHTML += `<option rid=${routeId}>
                                                    <p>${stops[0].name} -> ${stops[stops.length - 1].name}</p>
                                                </option>`;
        });
    })
</script>



<script>
    async function addBus() {
        url = "/admin/bus/insert";
        var bus = {};
        $("#add-bus-form").serializeArray().map(function (x) {
            bus[x.name] = x.value;
        });
        bus.availableSeats = bus.totalSeats;

        await $.ajax({
            headers: {
                Accept: 'application/json', //imp
            },
            type: "GET",
            url: "/admin/route/getbyid/" + $("#select-route-list option:selected").attr("rid"),
            dataType: "json",
            contentType: "application/json", //imp
            success: function (response) {
                console.log("route = ", response);
                bus.r = response;
            },
            error: function () {
                alert('Error occured');
            }
        });
        await $.ajax({
            headers: {
                Accept: 'application/json', //imp
            },
            type: "GET",
            url: "/admin/driver/getbyid/" + $("#select-driver-list option:selected").attr("did"),
            dataType: "json",
            contentType: "application/json", //imp
            success: function (response) {
                console.log("driver = ", response);
                bus.d = response;
            },
            error: function () {
                alert('Error occured');
            }
        });

        console.log("got this bus ", bus);

        await $.ajax({
            headers: {
                Accept: 'application/json', //imp
            },
            type: "POST",
            url: url,
            data: JSON.stringify(bus), // imp
            dataType: "json",
            contentType: "application/json", //imp
            success: function (response) {
                console.log("added", response);
            },
            error: function () {
                alert('Error occured');
            }
        });

        window.location.href = "/admin/manageBus";

    }

    function goBack() {
        window.location.href = "/admin/manageBus";
    }


</script>

</head>

<body class="container-fluid">
    <form th:action="@{/logout}" id="log" method="POST">

    </form>

    <!-- SIDEBAR -->
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/images/logo.png" alt="">
            </div>

            <span class="logo_name">NRI Fintech</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/admin" id="home">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/manageBus" id="manageBus">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Manage Buses</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/manageDriver" id="manageDriver">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name">Manage Drivers</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/manageEmployee" id="manageEmployee">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name">Manage Employees</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/manageRoute" id="manageRoute">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name">Manage Routes</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/manageStop" id="manageStop">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name">Manage Stops</span>
                    </a>
                </li>

                <ul class="logout-mode">
                    <li><a href="#" onclick="document.getElementById('log').submit()">
                            <i class="uil uil-signout"></i>

                            <span class="link-name">Logout</span>
                        </a></li>

                    <li class="mode">
                        <a href="#">
                            <i class="uil uil-moon"></i>
                            <span class="link-name">Dark Mode</span>
                        </a>

                        <div class="mode-toggle">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
        </div>
    </nav>


    <!-- RIGHT AREA-->
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="images/profile.jpg" alt="">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Add Bus</span>
                </div>
            </div>

            <!-- MAIN AREA -->
            <div class="display: flex; justify-content: space-between; width: 100%;">
                <form id="add-bus-form" style="max-width: 75rem; padding: 5rem; border: 1px solid white;">
                    <h2 class="pb-4">Add Bus</h2>
                    <div class="form-group vw-50">
                        <label for="totalSeats" class="text-light display-5">Total Seats</label>
                        <input type="number" class="form-control" min=0 id="totalSeats" name="totalSeats"
                            placeholder="Total Seats in bus">
                        <label for="select-driver-list" class="text-dark display-5">Driver</label>
                        <select id="select-driver-list" class="browser-default custom-select mb-4">
                        </select>
                        <label for="select-route-list" class="text-dark display-5">Route</label>
                        <select id="select-route-list" class="browser-default custom-select mb-4">
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary" onclick="addBus()">Add Bus</button>

                    <button type="button" class="btn btn-primary" onclick="goBack()">Cancel</button>
                </form>

            </div>

        </div>






        </div>
    </section>




    


    <script src="/script/home_script.js"></script>
    <!--    <script src="/script/navigation.js"></script> -->



    



</body>

</html>