<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html lang="en">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        async function drawChart() {

            // Create the data table.
            var routeWaitMap;
            await $.ajax({
                headers: {
                    Accept: 'application/json', //imp
                },
                type: "GET",
                url: "/admin/analytics/count-waiting-each-route",
                dataType: "json",
                contentType: "application/json", //imp
                success: function (response) {
                    // console.log("route = ", response);
                    routeFreq = response;
                },
                error: function () {
                    alert('Error occured in count-waiting-each-route');
                }
            })

            var busFreqMap;
            await $.ajax({
                headers: {
                    Accept: 'application/json', //imp
                },
                type: "GET",
                url: "/admin/analytics/passenger-count-per-bus",
                dataType: "json",
                contentType: "application/json", //imp
                success: function (response) {
                    busFreqMap = response;
                    // console.log(busFreqMap)
                },
                error: function () {
                    alert('Error occured in passenger-count-per-bus');
                }
            });

            // --------------------------- BOOKING PER MONTH ENDS -------------------------
            var bookingFreq;
            await $.ajax({
                headers: {
                    Accept: 'application/json', //imp
                },
                type: "GET",
                url: "/admin/analytics/booking-per-month",
                dataType: "json",
                contentType: "application/json", //imp
                success: function (response) {
                    bookingFreq = response;
                    console.log(bookingFreq);
                },
                error: function () {
                    alert('Error occured in booking-per-month');
                }
            });

            var bookingData = new google.visualization.DataTable();
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
            bookingData.addColumn('string', 'Month');
            bookingData.addColumn('number', 'Bookings In Month');
            bookingData.addRows(bookingFreq);

            var options = {
                title: 'Bookings Per Month For This Year',
                legend: { position: 'bottom' },
                width: 800,
                height: 300,
                dataOpacity: 0.8,
                pointsVisible: true

            };
            var bookingLineChart = new google.visualization.LineChart(document.getElementById('booking-line-chart'));
            bookingLineChart.draw(bookingData, options);
            // --------------------------- BOOKING PER MONTH ENDS -------------------------


            var routeData = new google.visualization.DataTable();
            routeData.addColumn('string', 'Route');
            routeData.addColumn('number', 'WaitList');
            routeData.addRows(Object.entries(routeFreq));

            var busData = new google.visualization.DataTable();
            busData.addColumn('string', 'Bus');
            busData.addColumn('number', 'Passenger Count');
            busData.addRows(Object.entries(busFreqMap));


            // Set chart options
            var piechart_options = {
                width: 400,
                height: 300
            };
            var barchart_options = {
                width: 400,
                height: 300,
                legend: 'none'
            };

            var piechart = new google.visualization.PieChart(document.getElementById('route-piechart-div'));
            piechart.draw(routeData, piechart_options);
            var barchart = new google.visualization.BarChart(document.getElementById('route-barchart-div'));
            barchart.draw(routeData, barchart_options);

            var piechart = new google.visualization.PieChart(document.getElementById('bus-piechart-div'));
            piechart.draw(busData, piechart_options);
            var barchart = new google.visualization.BarChart(document.getElementById('bus-barchart-div'));
            barchart.draw(busData, barchart_options);


        }
    </script>


</head>

<body class="bg-dark vh-100">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Bus Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-primary bg-light" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/employee/dashboard">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/book">Book Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/edit">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Div that will hold the pie chart-->
    <div id="chart_div">
        <!--Table and divs that hold the pie charts-->
        <table class="columns">
            <tr>
                <td>
                    <div id="route-piechart-div" style="border: 1px solid #ccc"></div>
                </td>
                <td>
                    <div id="route-barchart-div" style="border: 1px solid #ccc"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="bus-piechart-div" style="border: 1px solid #ccc"></div>
                </td>
                <td>
                    <div id="bus-barchart-div" style="border: 1px solid #ccc"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="booking-line-chart" style="border: 1px solid #ccc"></div>
                </td>
            </tr>
        </table>
    </div>



</body>

</html>