<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""></script>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/home_style.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    

	<!-- from other file -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
	<script th:inline="javascript">
        /*<![CDATA[*/
        var did = /*[[${session.driver.getDriver().getDid()}]]*/ 'default';
        var bus=  'default';
        var time;
        /*]]>*/
        
        $(document).ready(async () => {
        	url = "/driver/getbyid/" + did;
            await $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    console.log("The employee is");
                    console.log(response);
                    employee = response;
                    bus = employee?.bus;
                    time = employee?.bus?.active;
                    $("#timedata").text(active);
                    $("#togglebtn").text(time==="YES"?"End Journey":"Start the Journey");
                    console.log(time);
                },
                error: function (response) {
                    
                }
            });
	$("#bus-id-display").append(`${bus? bus.bid : "NA"}`);
	
        });
        
        const startJourney = async () => {
            url = "/driver/changestatus/" + bus.bid;
            await $.ajax({
                headers: {
                    Accept: 'application/json', //imp
                },
                type: "POST",
                url: url,
                contentType: "application/json", //imp
                async: false,
                success: function (response) {
                	 $('#toast').toast({
                		    delay: 2000, // 10 seconds
                		  });
                    $('#toast').toast('show');
                },
                error: function (response) {
                	$('#toasta').toast({
            		    delay: 2000, // 10 seconds
            		  });
                $('#responseData').text(response.responseText);
                $('#toasta').toast('show');
                }
            });
           
            location.reload();
        }
    </script>
    

    <title>Employee Dashboard </title> 
</head>
<body>
                <form th:action="@{/logout}" id="log" method="POST">
						
</form>
    <nav>
        <img src="/images/logo.png" style="width:100%; height:auto; max-width:300px;"/>

        <div class="menu-items ">
            <ul class="nav-links">
                <li><a href="/driver" id="home">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="/driver/routedetails">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Route Details</span>
                </a></li>

 <!--                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li> -->
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#" onclick="document.getElementById('log').submit()">
                    <i class="uil uil-signout"></i>
    
                     <span class="link-name">Logout</span> 
                </a></li>

              <!--   <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li> -->
            </ul>
        </div>
    </nav>




<!-- Employee Dashboard-->
    <div class="dashboard" id="homeContent">
        <div class="top">
        
            <i class="uil uil-bars sidebar-toggle"></i>
			
            <!-- <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div> -->
            	
            	
            <img src="/images/profile.jpg" alt="">
           
        </div>
 

<div style="margin-top:5%;">
<span style="color:grey;" class="logout-mode"> >dashboard</span><hr>
<h3 style="color:grey;text-align:center;">Route Details</h3>
</div>
<Br/>

        <div class="card text-white">

            <div class="table-responsive table table-striped table-light">
                <table class="table text-black">

                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td th:text="${session.driver.getDriver().getDriverName()}"></td>
                        </tr>
                        <tr>
                            <td>Phone No </td>
                            <td th:text="${session.driver.getDriver().getDriverContactNo()}"></td>
                        </tr>
                        <tr>
                            <td>Email </td>
                            <td th:text="${session.driver.getUserName()}"></td>
                        </tr>
                        <tr>
                            <td>Bus Id </td>
                            <td id="bus-id-display"></td>
                            <!-- if in waitlist -->
                            <!-- employee/getStatus returns assigned, not applied, in waitlist -->
                        </tr>
                        <tr>
                           <td>Trip start time </td>
                            <td id="timedata"></button></td>
                        </tr>
                        
                    </tbody>
                </table>
                <button onclick="startJourney()" id="togglebtn" class="btn btn-primary"></button>
            </div>
        </div>

    </div>

    <!-- Book Bus -->
   

    <script src="/script/home_script.js"></script>
    <script>
    
    </script>
 <!--    <script src="/script/navigation.js"></script> -->
</body>
</html>