<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	 <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    
	<link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- <script>
    $(document).ready(function() {
        $('#verifybtn').click(function() {
            // Get the data you want to send in the request payload
            var input = $('#otp_val').val();
            var inputemail = $('#email1').val();
            if (input.trim() === '') {
            	
                $('#error-message').text('Otp is empty');
                $('#error-message').show();
                console.log("EMpty");
                return;
            }
            console.log("Not EMpty");
            // Send the POST request to the controller
            $.ajax({
                url: "/register/verifyotpval",
                type: "GET",
                data: {inputText: input, email:inputemail} ,
                
            });
        });
    });
</script> -->


	
</head>

<body>

	<div>
<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Reset your password</h2>
                        <form th:action="@{/register/verifyemail}" 
						  	  method="POST" class="register-form" id="register-form">
						  	  
						  	  <div class="form-group">
					        <div class="col-xs-15">
					            <div>
								
																									
									<div th:if="${error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
										Not a registered user
									</div>
		
									<div th:if="${failurereset}" class="alert alert-danger col-xs-offset-1 col-xs-10">
										Email and otp does not match
									</div>
									
					            </div>
					        </div>
					    </div>
					    <div class="form-group" id="getemail1">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" required="true" id="email" name="email" placeholder="Enter your email (*)"/>
                                	
                            </div>
                             <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Reset Password"/>
                            </div>
                            <br/>
                            <br/>
                             
                                <div th:if="${verify}">
                                <div class="form-group" id="getemail2">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" required="true" id="email1" name="email" placeholder="Renter your email (*)"/>
                                	
                            </div>
										<input type="text" id="otp_val" name="otp" placeholder="Enter your otp (*)"/>
										<div id="error-message" style="display: none; color: red;"></div>
										<div class="form-group form-button">
                                <input type="button" name="signup" id="verifybtn" class="form-submit" value="Verify Otp"/>
                            </div>
									</div>
									<br/><br/>
                            <a href="/" class="signup-image-link">&nbsp;&nbsp;<u>Go back to Login Bage</u></a>
					    
					
					
						  	   </form>
						  	   
						  	   </div>
						  	   </div>
						  	   </div>
						  	   </section>
						  	   </div>
						  	   
						  	  

</body>
</html>