<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>

  <style>

  </style>
  <!----======== CSS ======== -->
  <link rel="stylesheet" href="/css/home_style.css">

  <!----===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


  <!-- from other file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>


  <script th:inline="javascript">
    /*<![CDATA[*/
    var cutoffTimes = /*[[${arrTime}]]*/[];
    var did = /*[[${session.driver.getDriver().getDid()}]]*/ 'default';
    var bus = /*[[${session.driver.getDriver().getBus().getBid()}]]*/ 'default';
    var time;
    var buttonText;
    /*]]>*/

    var passengersPerStop;
    var nextPassengers = [];


  </script>


  <script>
    var passengersPerStop;
    var nextStopObject = {
      sid: -1,
      name: "Dunlop Bridge",
    };
    var nextPassengers = [];



    // get all passengers
    $(document).ready(() => {
    	
    	
      url = "/driver/getbyid/" + did;
      // console.log("document ready");
      $.ajax({
        type: "GET",
        url: url,
        success: function (response) {
          // console.log(response);
          employee = response;
          bus = employee?.bus;
          time = employee?.bus?.active;
          getAllPassengers();
          // $("#timedata").text(time?time:"Not Started");
          // $("#togglebtn").text(time?"End Journey":"Start the Journey");
          // console.log(time);
          if (time == "NO") {
            // $("#timedata").text(time?time:"Not Started");
            // console.log("calling flush");
            flushDelays();
            buttonText = "Start Journey";
            $("#togglebtn").text(buttonText);
            $('#next-passenger-row').addClass("d-none");
          }
          else {
            // console.log("calling next stop()");
            nextStop();
          }
        },
        error: function (response) {

        }
      });
      // $("#bus-id-display").append(`${bus ? bus.bid : "NA"}`);
      url = "/driver/current/" + bus;
      // console.log("document ready");
      $.ajax({
        type: "GET",
        url: url,
        success: function (response) {
        	var words = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve'];
        	var x=0;
        	console.log(response);
        	$.each(response, function(index, responsei) {
        		  // Do something with each response object here
        		  console.log(responsei);
        		  var className = words[x];
					
      		    // Add the 'active' class to each element with the current class name
      		    if(index<response.length-1){
      		    	$('.' + className).addClass('active');
      		    	
      		    }
      		  x+=1;	
      		  
      		 
      		
        		});
        },
        error: function (response) {
        }
      });
      

    });

    // GET ALL PASSENGERS
    getAllPassengers = async () => {
      // console.log("in get all passengers");
      await $.ajax({
        type: "GET",
        url: "/driver/get-all-passengers",
        data: null,
        dataType: "json",
        success: function (response) {
          // console.log(response);
          passengersPerStopList = response;
          const tableBody = $('#passenger-table-body');
          var html = "";
          passengersPerStopList.forEach((map) => {
            stop = map?.stop;
            stopName = stop?.name;
            employees = map?.employees;

            html += `<tr>
                        <td>${stopName}</td>
                        <td>
                          <table class="table table-striped table-hover table-fixed">`;
            html += `<thead>              
                          <th class="col-3">EmployeeId</th>
                          <th class="col-3">Name</th>
                          <th class="col-3">ContactNo</th>
                          <th class="col-3">Onboard</th>  
                        </thead>`;

            employees.forEach(({ eid, name, contactNo, boardingStatus }) => {
              html += `<tr >
                          <td>${eid}</td>
                          <td>${name}</td>
                          <td>${contactNo}</td>
                          <td>
                            <button class="btn btn-success" ${(boardingStatus==="true" || bus.active==="NO" )? "disabled=true" : ""}
                            onclick="onBoardPassenger(${eid}, ${stop.sid})" id="list-boarding-button-${eid}" >
                              ${bus.active==="NO"? "BUS NOT STARTED": (boardingStatus==="false"? "Onboard passenger" : "Onboarded")}
                              </button>
                          </td>      
                        </tr>`;
            });
            html += `</td>
                      </table>
                    </tr>` ;
          });
          tableBody.html(html);
        },
        error: function () {
          console.log("Error occured in get all passengers");
        }
      });
    }


    //  ONBOARD PASSENGER FUNCTION
    onBoardPassenger = (employeeId, stopId) => {
      $.ajax({
        type: "GET",
        url: "/driver/onboard-passenger/" + employeeId + "/" + stopId,
        data: null,
        dataType: "text",
        success: function (response) {
          $(`#boarding-button-${employeeId}`).text("Onboarded");
          $(`#boarding-button-${employeeId}`).prop('disabled', true);
          $(`#list-boarding-button-${employeeId}`).text("Onboarded");
          $(`#list-boarding-button-${employeeId}`).prop('disabled', true);
          popUpToast("Onbaording Sucessful!!", `Employee with ID ${employeeId} onboarded`)
        },
        error: function () {
          alert("Error occured in onboarding passenger");
          console.log("Error occured in onboarding");
        }
      });
    }

    popUpToast = (header, body) => {
      // console.log("pop called");
      $("#toast-header-text").text(header);
      $("#toast-body-text").text(body);
      $("#onboardingToast").toast("show");
      // alert("popup done");
    }

    // function to get passengers of next stop
    getNextPassengers = async (nextStopName) => {
      await getAllPassengers();
      nextPassengers = [];
      passengersPerStopList.forEach((map) => {
        stop = map?.stop;
        employees = map?.employees;
        stopName = stop?.name;
        if (stopName === (nextStopName?.substring(8))) {
          html = "";
          nextPassengersTable = $('#next-passengers-table-body');
          employees.forEach(({ eid, name, contactNo,boardingStatus }) => {
            html += `<tr >  
                      <td>${eid}</td>
                      <td>${name}</td>
                      <td>${contactNo}</td>
                      <td>
                          <button class="btn btn-success "  ${(boardingStatus==="true" || bus.active==="NO" )? "disabled=true" : ""}
                          onclick="onBoardPassenger(${eid}, ${stop.sid})" id="boarding-button-${eid}">
                            ${boardingStatus === "false" ? "Onboard passenger" : "Onboarded"}
                            </button>
                      </td>    
                    </tr>`;
          });
          nextPassengersTable.html(html);
          $('#next-passengers-table').removeAttr("hidden");
          $('#next-passengers-heading').text("Passengers Waiting There are");
          $('#next-passengers-heading').addClass("text-primary");
        }
      });
    };

    const nextStop = async () => {
      url = "/driver/nextStop/" + bus.bid;
      // console.log(url);

      await $.ajax({
        headers: {
          Accept: 'application/json', //imp
        },
        type: "GET",
        url: url,
        dataType: "text",
        async: false,
        success: function (response) {
          // console.log(response)
          buttonText = response;
          $("#togglebtn").text(buttonText);
          if(response.startsWith("Reached")){
            stopName = response.substring(8);
            $('#nextStopName').text(stopName);
          }
          getNextPassengers(response);
        },
        error: function (response) { }
      });
      // location.reload();

    }

    const changeActiveStatus = async () => {
      url = "/driver/changeActiveStatus/" + bus.bid;
      console.log(url);
      await $.ajax({
        headers: {
          Accept: 'application/json', //imp
        },
        type: "POST",
        url: url,
        dataType: "text",
        async: false,
        success: function (response) { },
        error: function (response) { }
      });
    }


    const addDelay = async () => {
      url = "/driver/addDelay/" + bus.bid;
      console.log(url);
      await $.ajax({
        headers: {
          Accept: 'application/json', //imp
        },
        type: "POST",
        url: url,
        dataType: "text",
        async: false,
        success: function (response) { },
        error: function (response) { }
      });
    }


    const reachedStop = async () => {
      if (buttonText == "Start Journey" || buttonText == "End Journey") {
        changeActiveStatus();
        await $.ajax({
          headers: {
            Accept: 'application/json', //imp
          },
          type: "GET",
          url: "/driver/clear-onboarding/" + did,
          dataType: "text",
          async: false,
          success: function (response) {
            console.log("boarding status cleared")
          },
          error: function (response) {
            alert("error occured in clearing boarding status");
          }
        });

      }
      // buttonText = "End Journey";
      if (buttonText != "End Journey") {
        addDelay();
      }
      // else{
      //     flushDelays();
      // }
      location.reload();
    }





    const flushDelays = async () => {
      url = "/driver/flushDelays/" + bus.bid;
      console.log(url);

      await $.ajax({
        headers: {
          Accept: 'application/json', //imp
        },
        type: "DELETE",
        url: url,
        dataType: "text",
        async: false,
        success: function (response) {
        },
        error: function (response) { }
      });
      // location.reload();

    }

  </script>

    <style>



.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pop;
    flex-direction: column;
}

.progress{
	overflow:visible;
	
}
p{
margin-bottom:0px;
}
.uub{
    display: flex;
    margin-top: 80px;
}
.uub li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    width: 100px;
    height:20px;
    
}
.uub li .icon{
    font-size: 35px;
    color: #ff4732;
    margin: 0 60px;
}
.uub li .text{
    font-size: 14px;
    font-weight: 600;
    color: #ff4732;
    height:50px;
    text-align:center;
}

/* Progress Div Css  */

.uub li .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.progress::after{
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.781);
    right: 30px;
    width:71px;
}
.one::after{
    width: 0;
    height: 0;
}
.uub li .progress .uil{
    display: none;
}
.uub li .progress p{
    font-size: 13px;
}

/* Active Css  */

.uub li .active{
    background-color: green;
    display: grid;
    place-items: center;
}
li .active::after{
    background-color: green;
}
.uub li .active p{
    display: none;
}
.uub li .active .uil{
    font-size: 20px;
    display: flex;
}
@media (max-width: 980px) {
    .uub{
        flex-direction: column;
    }
    .uub li{
        flex-direction: row;
        height:60px;
    }
    .progress{
    	overflow:visible;
    }
    .uub li .progress{
        margin: 0 30px;
    }
    .progress::after{
        width: 5px;
        height: 55px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .one::after{
        height: 0;
    }
    .uub li .icon{
        margin: 15px 0;
    }
}

@media (max-width:600px) {
    .head .head_1{
        font-size: 24px;
    
    }
    .head .head_2{
        font-size: 16px;
    }
}
    </style>
  <script>



    //getroutebylistofstops
    var bus;
    /* setInterval(() => {
      // Get the current time
      const now = new Date();

      // Format the time as hh:mm:ss
      const hours = now.getHours().toString().padStart(2, '0');
      const minutes = now.getMinutes().toString().padStart(2, '0');
      const seconds = now.getSeconds().toString().padStart(2, '0');
      const time = `${hours}:${minutes}:${seconds}`;

      $('#clock').text(time);


    }, 1000); */

  </script>

  <title>Bus Management Service</title>
</head>

<body>
   <form th:action="@{/logout}" id="log" method="POST">
						
</form>
    <nav>
        <img src="/images/logo.png" style="width:100%; height:auto; max-width:300px;"/>

        <div class="menu-items ">
            <ul class="nav-links">
                <li><a href="/driver" id="home">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="/driver/routedetails">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Route Details</span>
                </a></li>

 <!--                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li> -->
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#" onclick="document.getElementById('log').submit()">
                    <i class="uil uil-signout"></i>
    
                     <span class="link-name">Logout</span> 
                </a></li>

              <!--   <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li> -->
            </ul>
        </div>
    </nav>
  




  <!-- Employee Dashboard-->
  <div class="dashboard" id="homeContent">
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>
    </div>

    <div style="margin-top:5%;">
      <span style="color:grey;" class="logout-mode">>route</span>
      <hr>
    </div>
    <Br />

    <div class="main">
  <ul class="uub">
  <li th:each="i, index : ${allStops}" >
  <div>
    <p class="text" th:text="${i.name}"></p>
    </div>
    <div th:switch="${index.index}">
      <div th:case="0" class="progress one"><p th:text="${index.index+1}"></p></div>
      <div th:case="1" class="progress two"><p th:text="${index.index+1}"></p></div>
      <div th:case="2" class="progress three"><p th:text="${index.index+1}"></p></div>
      <div th:case="3" class="progress four"><p th:text="${index.index+1}"></p></div>
      <div th:case="4" class="progress five"><p th:text="${index.index+1}"></p></div>
      <div th:case="5" class="progress six"><p th:text="${index.index+1}"></p></div>
      <div th:case="6" class="progress seven"><p th:text="${index.index+1}"></p></div>
      <div th:case="7" class="progress eight"><p th:text="${index.index+1}"></p></div>
      <div th:case="8" class="progress nine"><p th:text="${index.index+1}"></p></div>
      <div th:case="9" class="progress ten"><p th:text="${index.index+1}"></p></div>
      <div th:case="10" class="progress eleven"><p th:text="${index.index+1}"></p></div>
      <div th:case="11" class="progress twelve"><p th:text="${index.index+1}"></p></div>
      <div th:case="12" class="progress thirteen"><p th:text="${index.index+1}"></p></div>
      <div th:case="13" class="progress fourteen"><p th:text="${index.index+1}"></p></div>
      <div th:case="14" class="progress fifthteen"><p th:text="${index.index+1}"></p></div>
      <div th:case="15" class="progress sixteen"><p th:text="${index.index+1}"></p></div>
      <div th:case="16" class="progress seventeen"><p th:text="${index.index+1}"></p></div>
      <!-- add more cases as needed -->
    </div>
    
    <p class="text" th:text="${i.time}"></p>
  </li>
</ul>
</div>
               <br/><Br/><Br/><br/><Br><Br/>       


        <div class="row m-3">
          <button onclick="reachedStop()" id="togglebtn" class="btn btn-success"></button>
        </div>

        <!-- PASSENGERS OF NEXT STOP -->

        <div class="row  justify-content-center align-items-center h-100" id="next-passenger-row">
          <div class="card container mt-5 mx-3 " style="border-radius: 20px;">
            <div class="card-header mt-2 align-items-center d-flex" style="background-color: white;">
              <span class="text-secondary ">Next Stop : </span>
              <span id="nextStopName" class="h2 text-primary"></span>
            </div>
            <div class="card-header mt-2" style="background-color: white;">
              <h4 id="next-passengers-heading">No Passenger is Waiting There</h4>
            </div>
            <div class="card-body">
              <table class="table table-responsive-lg rounded-lg" id="next-passengers-table" hidden style="border: 1px solid #141E30;">
                <thead class="thead-dark">
                  <tr>
                    <th class="col-3">Passenger ID</th>
                    <th class="col-3">Passenger Name</th>
                    <th class="col-3">Contact No</th>
                    <th class="col-3">Onboard Passenger</th>
                  </tr>
                </thead>
                <tbody id="next-passengers-table-body">
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mx-3 mt-5 " data-toggle="modal" data-target="#allPassengersModal">
          View All Passengers
        </button>

        <!-- Modal -->
        <div class="modal fade " id="allPassengersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content ">

              <!-- MODAL HEADER -->
              <div class="modal-header flex-column">
                <h5 class="modal-title" id="exampleModalLabel">All Passengers of Your Bus</h5>
                <span class="small">shows stops with passengers only</span>
              </div>

              <!-- MOFDAL BODY -->
              <div class="modal-body ">
                <table class="table" style="border: 1px solid #141E30;">
                  <thead class="thead-dark">
                    <tr>
                      <th>Stops</td>
                      <th>Passengers in Each Stop</td>
                    </tr>
                  </thead>
                  <tbody id="passenger-table-body">
                  </tbody>
                </table>
              </div>

              <!-- MODAL FOOTER -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
          <!-- ALL PASSENGERS MODAL ENDS -->

          <!-- TOAST AREA-->
          <div style="position: absolute; top: 0; right: 0;">

            <!-- TOAST -->
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="onboardingToast"
              data-delay="3000">
              <div class="toast-header bg-success">
                <strong class="mr-auto" id="toast-header-text"></strong>
                <!-- <small class="text-muted">just now</small> -->
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body" id="toast-body-text">
              </div>
            </div>
          </div>

        </div>

      </div>


  <!-- Book Bus -->


  <script src="/script/home_script.js"></script>
  <!--    <script src="/script/navigation.js"></script> -->
</body>

</html>
