<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/home_style.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


	<!-- from other file -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

    <style type="text/css">
 

        .btn-circle.btn-xl {
            width: 60%;
            height: 650px;
            padding: 10px 16px;
            border-radius: 50%;
            font-size: 100px;
            text-align: center;
        }
    </style>
	<script>
	// map.innerHTML = '<iframe width="700" height="300" src="https://maps.google.com/maps?q='+latitude+','+longitude+'&amp;z=15&amp;output=embed"></iframe>';
var lat;
var longi;
navigator.geolocation.watchPosition(successCallback, errorCallback, options);

function successCallback(position) {
	const { accuracy, latitude, longitude, altitude, heading, speed } = position.coords;
	
	lat = latitude;
	longi = longitude;
}
function errorCallback(error) {
	
}
var options = {
	//enableHighAccuracy: false,
	//timeout: 5000,
	//maximumAge: 0
};
</script>
    <script>
	 $('.toast').toast('show');
        var employee;
        var bus;
        setInterval(() => {

      	  // Get the current time
      	  const now = new Date();

      	  // Format the time as hh:mm:ss
      	  const hours = now.getHours().toString().padStart(2, '0');
      	  const minutes = now.getMinutes().toString().padStart(2, '0');
      	  const seconds = now.getSeconds().toString().padStart(2, '0');
      	  const time = `${hours}:${minutes}:${seconds}`;
            
      	  $('#clock').text(time);
      	  
    	  
      	}, 1000);
       

    </script>
    <script>
    const sendsos = () => {
        //details.innerHTML = "Latitude: "+lat+" | Longitude: "+longi+"<br>";
        var field1=String(lat);
        var field2=String(longi);
        console.log(field1);
        console.log(field2);
        var input = {
                "lat": field1, 
                "longitu": field2, 
        }
        
        
        $.ajax({
        	 headers: {
                 Accept: 'application/json', //imp
             },
            type: "GET",
            url: "/employee/sendsos",
            data: input,
            asynch: false,
            contentType: "application/json",
            success: function (response) {
                console.log(response);
            },
            error: function (response) {
               
            }
        });
      /*   window.location.href = "/employee/sos"; */
    }
     
    </script>
    <title>Employee Dashboard </title> 
</head>
<body>
                <form th:action="@{/logout}" id="log" method="POST">
						
</form>
    <nav>
       <!--  <div class="logo-name">
            <div class="logo-image">
                <img src="/images/logo.png" alt="">
            </div> -->
<img src="/images/logo.png" style="width:100%; height:auto; max-width:300px;"/>
            
           
         <div class="menu-items">
          
            <ul class="nav-links">
                <li><a href="/employee" id="home">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="/employee/book" id="bookbus">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Book Bus</span>
                </a></li>
                <li><a href="/employee/trackbus" id="track-bus-link">
                    <i class="uil uil-car-sideview"></i>
                    <span class="link-name">Track Bus</span>
                </a></li>
                <li><a href="/employee/showbookingdetails">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Booking Details</span>
                </a></li>
                <li><a href="/employee/editprofile">
                    <i class="uil uil-pen"></i>
                    <span class="link-name">Edit Profile</span>
                </a></li>
                <li><a href="/employee/releaseseat">
                <i class="uil uil-lock-open-alt"></i>
                <span class="link-name">Release Seat</span>
            </a></li>
            <li><a href="/employee/sos">
                <i class="uil uil-band-aid"></i>
                <span class="link-name">SOS</span>
            </a></li>
 <!--                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li> -->
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#" onclick="document.getElementById('log').submit()">
                    <i class="uil uil-signout"></i>
    
                     <span class="link-name">Logout</span> 
                </a></li>

               <!--  <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li> -->
            </ul>
        </div>
    </nav>




<!-- Employee Dashboard-->
    <div class="dashboard" id="homeContent">
        <div class="top">
        
            <i class="uil uil-bars sidebar-toggle"></i>

                
                   <div id="clockdate">
  <div class="clockdate-wrapper">
    <div id="clock"></div>
    <div id="date"></div>
  </div>
</div> 
            
          
            <img src="/images/profile.jpg" alt="">
           
        </div>
        
<div style="margin-top:5%;">
<span style="color:grey;" class="logout-mode"> >sos</span><hr>

</div>

<Br/>

        <div class="container">

 					
 						<span style="color:red;">Send your location to the bus administrator in case of an emergency to get help. Remember to press the button only in case of an emergency</span>
 						<Br/><br/>
 						<input type="button" onclick="sendsos();" class="btn btn-danger" value="Send SOS">
    
    <div id="details"></div>
    </div>

    
    <!-- Book Bus -->
            	 
   
</div>
    <script src="/script/home_script.js"></script>

</body>
</html>
